.flexbox { 
display: flex;
border: 4.5px solid rgb(156, 226, 226);
padding:20px; 
}


.item {
border: 3.5px solid lightpink;
padding:18px; 
}

#box1 { background-color:rgb(62, 7, 7);
justify-content: space-evenly;
} 

#box2 { background-color:rgb(90, 48, 48);}

#box3 { background-color: rgb(12, 33, 32);}

#box4 { background-color: rgb(57, 70, 61);}


<img = https://www.nerdwallet.com/assets/blog/wp-content/uploads/2023/11/Screenshot-2023-10-26-at-7.20.37-PM-600x360.png